.d-requirements table {
  border-spacing: 8px;
  border-collapse: collapse;
}

.d-requirements td,th {
  padding: 8px;
  border: 1px solid #888;
}

.d-requirements tr:nth-child(even) {
  background-color: #f2f2f2;
}

.d-install ol {
  margin-left: 16px;
}
