.d-home-focus {
  background-color: #212f3d;
  width: 100%;
  min-height: 120px;
  color: #fff;
  text-align: center;
  padding-top: 16px;
}

.d-community-button {
  background-color: #4A148C;
  width: 214px;
  height: 60px;
  border: 1px solid #311B92;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

.d-community-button:hover {
  background-color: #4527A0;
}

.d-facebook-button {
  background-color: #2980b9;
  border: 1px solid #1a5276;
}

.d-facebook-button:hover {
  background-color: #3498db;
}

.d-community-button a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  padding-top: 1em;
	text-decoration: none;
}

.d-community-button a:visited {
  color: #fff;
}

.d-community-button:hover a:visited {
  color: #fff;
}

.d-learn-button {
  background-color: #48c9b0;
  width: 15%;
  height: 60px;
  border: 1px solid #117864;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  margin: 1%;
}

.d-learn-button-small {
  width: 20%;
}

.d-learn-button:hover {
  background-color: #76d7c4;
}

.d-learn-button a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  padding-top: 1em;
	text-decoration: none;
}

.d-learn-button-small a {
  padding-top: 0.5em;
	text-decoration: none;
}

.d-learn-button a:visited {
  color: #fff;
}

.d-learn-button:hover a:visited {
  color: #fff;
}

.d-technology-and-standards {
  text-align: center;
  font-size: 14px;
}

.d-technology-and-standards ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  	list-style-type: none;
  	padding: 4px;
  	margin: 4px;
}

.d-technology-and-standards li {
    width: calc(33% - 32px);
    padding: 16px;
    box-sizing: border-box;
}

.d-key-features {
  text-align: center;
  font-size: 14px;
}

.d-key-features ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  	list-style-type: none;
  	padding: 4px;
  	margin: 4px;
}

.d-key-features li {
    width: calc(33% - 32px);
    padding: 16px;
    box-sizing: border-box;
}

.d-diamond-vs-diet table {
  border-spacing: 8px;
  border-collapse: collapse;
}

.d-diamond-vs-diet td,th {
  padding: 8px;
  border: 1px solid #888;
}

.d-diamond-vs-diet tr:nth-child(even) {
  background-color: #f2f2f2;
}
